body {
    margin: 0;
}
.div1 {
    height: 200px;
    background-color: aqua;
}
.div2 {
    height: 200px;
    background-color: bisque;
}
.div3 {
    height: 200px;
    background-color: blueviolet;
}
.div4 {
    height: 200px;
    background-color: cornflowerblue;
}
.div5 {
    height: 200px;
    background-color: darkgoldenrod;
}
.div6 {
    height: 200px;
    background-color: darkslategrey;
}
